In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes = True)
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.impute import SimpleImputer

from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('instacart_final.csv')
df.head()

,Unnamed: 0,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,aisle,department
0,0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16,eggs,dairy eggs
1,1,26,33120,5,0,153404,prior,2,0,16,7.0,Organic Egg Whites,86,16,eggs,dairy eggs
2,2,120,33120,13,0,23750,prior,11,6,8,10.0,Organic Egg Whites,86,16,eggs,dairy eggs
3,3,327,33120,5,1,58707,prior,21,6,9,8.0,Organic Egg Whites,86,16,eggs,dairy eggs
4,4,390,33120,28,1,166654,prior,48,0,12,9.0,Organic Egg Whites,86,16,eggs,dairy eggs

In [4]:
df.isnull().sum()

Unnamed: 0                      0
order_id                        0
product_id                      0
add_to_cart_order               0
reordered                       0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2078068
product_name                    0
aisle_id                        0
department_id                   0
aisle                           0
department                      0
dtype: int64

We have null values only in the days_since_prior_order column which corresponds to the first orders of each user

In [5]:
df = df.set_index(['user_id', 'order_number', 'add_to_cart_order'])

In [6]:
df = df.sort_index()

In [7]:
df.head(100)

                                        Unnamed: 0  order_id  product_id  \
user_id order_number add_to_cart_order
1       1            1                    25615188   2539329         196
                     2                     2332125   2539329       14084
                     3                    22296199   2539329       12427
                     4                    22274671   2539329       26088
                     5                    27776034   2539329       26405
...                                            ...       ...         ...
2       4            2                    22322943    738281       32792
                     3                    26771265    738281       32139
                     4                    23833855    738281       34688
                     5                    27326604    738281       36735
                     6                    13280999    738281       37646

                                        reordered eval_set  order_dow  \
user_id order_number add_to_cart_order
1       1            1                          0    prior          2
                     2                          0    prior          2
                     3                          0    prior          2
                     4                          0    prior          2
                     5                          0    prior          2
...                                           ...      ...        ...
2       4            2                          1    prior          2
                     3                          0    prior          2
                     4                          0    prior          2
                     5                          0    prior          2
                     6                          0    prior          2

                                        order_hour_of_day  \
user_id order_number add_to_cart_order
1       1            1                                  8
                     2                                  8
                     3                                  8
                     4                                  8
                     5                                  8
...                                                   ...
2       4            2                                 10
                     3                                 10
                     4                                 10
                     5                                 10
                     6                                 10

                                        days_since_prior_order  \
user_id order_number add_to_cart_order
1       1            1                                     NaN
                     2                                     NaN
                     3                                     NaN
                     4                                     NaN
                     5                                     NaN
...                                                        ...
2       4            2                                     8.0
                     3                                     8.0
                     4                                     8.0
                     5                                     8.0
                     6                                     8.0

                                                                             product_name  \
user_id order_number add_to_cart_order
1       1            1                                                               Soda
                     2                            Organic Unsweetened Vanilla Almond Milk
                     3                                                Original Beef Jerky
                     4                                         Aged White Cheddar Popcorn
                     5                                   XL Pick-A-Size Paper Towel Rolls
...                                                                                   ...
2       4            2                                     Chipotle Beef & Pork Realstick
                     3                                            Hommus Classic Original
                     4                  Good Belly Probiotics Juice Drink Blueberry Ac...
                     5                              Organic Roasted Sliced Chicken Breast
                     6                                                Organic Gala Apples

                                        aisle_id  department_id  \
user_id order_number add_to_cart_order
1       1            1                        77              7
                     2                        91             16
                     3                        23             19
                     4                        23             19
                     5                        54             17
...                                          ...            ...
2       4            2                        23             19
                     3                        67             20
                     4                        31              7
                     5                        96             20
                     6                        24              4

                                                       aisle  department
user_id order_number add_to_cart_order
1       1            1                           soft drinks   beverages
                     2                       soy lactosefree  dairy eggs
                     3                         popcorn jerky      snacks
                     4                         popcorn jerky      snacks
                     5                           paper goods   household
...                                                      ...         ...
2       4            2                         popcorn jerky      snacks
                     3                  fresh dips tapenades        deli
                     4                          refrigerated   beverages
                     5                            lunch meat        deli
                     6                          fresh fruits     produce

[100 rows x 13 columns]

In [8]:
sample_df = df.groupby('user_id').sample(n = 50000,random_state=1,rep)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [ ]:
sample_df.shape